.login-container {
  display: flex;
  min-height: 100vh;
}

.login-left {
  width: 50%;
  background: linear-gradient(135deg, #6366f1, #8b5cf6, #a855f7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-left-content {
  color: white;
  max-width: 400px;
}

.login-logo {
  font-size: 60px;
  margin-bottom: 16px;
}

.login-collge-title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 8px;
}
.login-tagline {
  font-size: 20px;
  opacity: 0.85;
  margin-bottom: 40px;
}

.login-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-feature-item {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  padding: 12px 20px;
  border-radius: 10px;
}

.login-right {
  width: 50%;

  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 410px;
  padding: 20px 0;
}
.login-title {
  font-size: 32px;
  font-weight: 700;
  /* color: #1e1b4b; */
  color:#1e1b4b;
  margin-bottom: 8px;
  text-align: left;
}
.login-subtitle {
  color: #6b7280;
  font-size: 17px;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
}

.login-error {
  background: #fef2f2;
  color: #dc2626;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 1px solid #fecaca;
}

.login-input-group {
  margin-bottom: 20px;
}
.login-label {
  font-display: block;
  font-size: 17px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 8px;
}
.login-input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  color: #1f2937;
  box-sizing: border-box;
  transition: border 0.2s;
}
.login-input:focus {
  border-color: #6366f1;
}

.login-button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 24px;
}
.login-button :disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
.login-switch-text {
  text-align: center;
  color: #6b7280;
  font-size: 14px;
}
.login-link {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
}
